<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
		<script src="{{ url_for('static',filename='index.js') }}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<title>Commonality</title>
	</head>
	<body>
		<div class="header">
			<b>Commonality</b>
		</div><br>
		<div class="subheader">Enter the actors' names to find out what movies they've worked in together!</div>
			<form action="/results" method="post">
				<div id="wrapper">
				<div class="box" id="firstBox">
		      		<input class="answers" type="text" name="actors[]">
		      	</div>
		      	<div class="box" id="test1">
		      		<input class="answers" type="text" name="actors[]">
		      	</div>
		      	</div>
		      	<div class="addSubmit">
					<div id="addMore" title="Add more actors" class="round-button" onclick="addMore()">
						+
					</div>
					<input type="submit" class="submit" value="SUBMIT">
				</div>
		  	</form>
	</body>
</html>