<html>
	<head><link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/all_the_css.css') }}">
		<title>Commonality</title>
	</head>
	<body>
	<div id="header">
	<b>Commonality</b></div><br><div id="subheader">Enter the actors' names to find out what movies they've worked in together !</div>
		<form action="/result" method="post">
			<div id="box1">
	      		<input type="text" name="actor1">
	      	</div>
	      	<div id="box2">
	      		<input type="text" name="actor2">
	      	</div>
	      	<div id="submit">
	      <input type="submit" value="SUBMIT"></div>
	  	</form></div>
	</body>
</html>