body {
    background-color: #DCD0C0;
}

h1 {
    color: navy;
    margin-left: 20px;
}

#box1 {
	padding-top: 50px;
	width: 800px; 
	margin: 0 auto;
	text-align: center;
}

#myList {
	margin-left: 40px;
	margin-top: 60px;
	font-size: 25px;
}

#box2 {
	padding-top: 30px;
	width: 800px; 
	margin: 0 auto;
	text-align: center;
}

#submit {
	width: 800px; 
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}

#header {
	padding-top: 75px;
	color: #373737;
	font-size: 45px;
	width: 800px; 
	margin: 0 auto;
	text-align: center;
}

#subheader {
	padding-top: 0px;
	color: #373737;
	font-size: 26px;
	width: 800px; 
	margin: 0 auto;
	text-align: center;
}

input[type=text] {
    width: 85%;
    padding: 20px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 26px;
    text-align: center;
}

input[type=submit] {
    width: 40%;
    background-color: #373737; 
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 26px;
}

input[type=submit]:hover {
    background-color: #C0B283;
}